*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.none{
  display: none;
}

/* sfondo */
.main-wrapper{
  background-color: darkseagreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* container */
section.container{
  width: 60%;
  height: 65%;
  position: relative;
}

.slider{
  height: 100%;
  background-color: aquamarine;

  /* width: 70%;
  height: 60%;
  background-color: rgb(241, 67, 67); */
}

.items-wrapper{
  height: 400px;
  width: 800px;
  border: 1px solid black;
}

.item{
  height: 400px;
  width: 600px;
  border: 1px solid black;
}


.thumbs-wrapper{
  width: 30%;
  height: 60%;
  background-color: chartreuse;
}

.thumb{
  height: 20%;
  width: 100%;
  border: 1px solid black;
  background-color: lavenderblush;
}

.items-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-laterali{
  margin-left: 80%;
  width: 20%;
  height: 100%;
  border: 1px solid black;
}

.img-dx{
  width: 100%;
  height: 20%;
}

.btn-arrow.up{
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: rgba(96, 96, 96, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all .3s;
}


.btn-arrow.down{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(96, 96, 96, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all .3s;
  flex-direction: end;
}

.btn-arrow:hover{
  color: red;
  background-color: white ;
}

.active{
  opacity: 0.5;
}